################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Frequentest-Analysis-CMS-master/CMS-Fequentest/.vs/CMS-Frequentest-Analysis/v15/Browse.VC.opendb
